#RecentPress{
    width:100%;
    height: 90%;
    background-color: whitesmoke;
    
    margin:auto;
}

#RecentPress>div:nth-child(1){
    margin:2%;
}
#RecentPress>div:nth-child(2)>:nth-child(n){
    width:26%;
    height:30%;
    margin:3%;
    border: 1px solid black;
    background-color: white;
    float: left;
    font-size: 20px;
    text-align: center;
}

#RecentPress>div:nth-child(2)>:nth-child(4){
    margin-left: 20%;
}
.clear-both{
    clear:both;
    
}
.link{
    font-size: 20px;
    text-decoration: none;
    color:black;
    font-style: oblique;
}
#box1{
    font-family:;
}

#footer{
    margin-top: 3%;
    width:100%;
    height:100%;
    border:1px solid black;
    background-color:#474647;
    
}


#footer>div:nth-child(n){
    width:15%;
    height:90%;
    margin:2%;
   
    float: left;
    
}
.footer1{
    
    font-size: 20px;

}
.color-change{
    color:burlywood;
}

.foot{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.logo{
    float: left;
}
.clear-both{
    clear:both;
}