* {
    margin: 0;
}

.img-box {
    float: left;
    width: 650px;
    height: 500px;
    margin-left: 280px
}

.para1 {
    float: right ;
    width: 600px;
    height: 500px;
    margin-right: 250px;
}
.box-1 {
    height: 500px;
}

.head {
    font-size: 65px;
    padding-top: 10px;
}
.quot {
    font-size: 25px;
    padding-top: 3%;
}
.button1 {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color :#ffba08;
    color: black;
    font-size: 20px;
    margin-top: 35px;
    
}
.button2 {
    width: 180px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    color: blue;
    font-size: 20px;
    margin-left: 10px;
}
.box-2 {
    background-color:#ffba08;
    height: 500px;

}
.mission {
    float: left;
    margin-left: 20%;
    margin-top: 10px;
}
.para2{
    float: right;
    font-size: 30px;
    margin-right: 100px;
    margin-top: 150px;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
}
.white {
    color: white;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 10px;
    
}
.button3 {
    width: 170px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    background-color:#ffba08;
    margin-top: 10px;
    border-color: grey;
}
.topnav{
    height: 100px;
    
   
}
.logo {
    margin-left: 120px;
    float: left;
    margin-right: 50px;
    margin-top: 15px;
   
}
.nav {
   
    margin-top: 1%;
    width: 75%;
    margin-left: 280px;
    height: 60%;
    font-size: 20px;
    padding-top: 10px;
    padding-right: 3%;
   
}
.nav > a {
    margin-right: 35px;
}

.login {
    margin-left: 32%;
    font-size: 30px;
    color: blue;
}
.main_button {
    height: 82%;
    width: 10%;
    font-size: 90%;
   
    border-radius: 8%;
    background-color:#ffba08;
   
}
.black {
    color: black;
}

/*My Code*/
.flex-cont {
    display: flex;
}

#third-box {
    width: auto;
    height: 500px;
    background-color: white;
    /* border: 1px solid black; */
    /* margin: 0; */
}

.flex-cont div {
    width: 50%;
    height: 500px;
    /* border: 1px solid black; */
    /* margin-left: 20%; */
}

.flex-cont > div:nth-child(1) > h1 {
    font-size: 70px;
    text-align: center;
    padding-top: 80px;
}

.flex-cont > div:nth-child(1) > p {
    text-align: left;
    width: 65%;
    font-size: 30px;
    padding-left: 180px;
    padding-top: 30px;
}

.flex-cont > div:nth-child(1) > div {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 180px
}

.flex-cont > div:nth-child(1) > div > p {
    text-align: center;
    color: blue;
    font-size: 20px;
    padding-top: 10px;
}

.flex-cont > div:nth-child(2) > div {
    width: 80%;
    height: 119px;
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    /* background-color: whitesmoke;         */
}

.flex-cont > div:nth-child(2) > div > div:nth-child(1) {
    width: 10%;
    height: 50px;
    border: 1px solid black;
    margin-left: 5%;
    margin-top: 2%;
    background-color: whitesmoke;
}

.flex-cont > div:nth-child(2) > div > div:nth-child(2) {
    width: 85%;
    height: 120px;
    margin-left: 5%;
}

.flex-cont > div:nth-child(2) > div > div:nth-child(2) > h2 {
    font-size: 30px;
    padding-top: 10px;
}

.flex-cont > div:nth-child(2) > div > div:nth-child(2) > p {
    font-size: 20px;
    padding-top: 20px;
}

.flex-cont > div:nth-child(2) > div > div:nth-child(1) {
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}

#fourth-box {
    width: auto;
    height: 370px;
    background-color: whitesmoke;
}

#fourth-box h1 {
    padding-left: 10%;
    padding-top: 2%;
    font-size: 40px;
}

#fourth-box > div {
    margin-left: 10%;
    width: 80%;
    height: 300px;
    /* border: 1px solid black; */
    margin-top: 50px;
    display: flex;
}

#fourth-box > div div {
    width: 30%;
    height: 200px;
    /* border: 1px solid black; */
    /* margin-left: 10%; */
}

#fourth-box > div > div:nth-child(2) {
    margin-left: 5%;
}

#fourth-box > div > div:nth-child(3) {
    margin-left: 5%;
}

#fourth-box > div > div > h2 {
    font-size: 30px;
}

#fourth-box > div > div > p {
    font-size: 20px;
    padding-top: 20px;
}

#fifth-box {
    width: auto;
    height: 780px;
    background-color: #ffc900;
    padding: 10px;
}

#fifth-box div {
    width: 20.3%;
    height: 650px;
    /* border: 1px solid black; */
    float: left;
    margin: 10px;
    margin-top: 5%;
    border-radius: 10px;
    background-color: white;
}

#fifth-box div:nth-child(3) {
    width: 20%;
    margin-left: 5%;
}

#fifth-box div:nth-child(1) {
    margin-left: 20%;
}

#fifth-box div > img {
    margin-left: 18px;
    margin-top: 10px;
    border-radius: 10px;
}

#fifth-box div > p {
    font-size: 30px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

#fifth-box div > h3 {
    padding-left: 20px;
    padding-top: 25px;
    font-size: 30px;
    padding-bottom: 30px;
}

#fifth-box div > a {
    font-size: 25px;
    padding-left: 20px;
    /* margin: 10px; */
}

#fifth-box div:nth-child(3) {
    background-color: #ffc900;
    font-size: 30px;
}

/*Atul Code*/