.box-1{
    width:650px;
    height:500px;
    float: left;
    margin-top: 20px;
}

.box-2{
    width:670px;
    height:500px;
    float:left;
    margin-top: 20px;
}
.img-box2{
    width:100%;
    height: 500px;
}
.box1-h1{
    margin:50px;
    font-size:50px;
}
.box1-p{
    margin:50px;
    font-size: 20px;
    
}


.box-3{
    width:650px;
    height:500px;
    float: left;
    background-color: orange;
    margin-left: 290px;
}
.box-4{width:670px;
    height:500px;
    float:left;
    background-color: whitesmoke;
    

}
.white-box{
    width:450px;
    height:350px;
    background-color: white;
    margin: 80px auto;
    border-radius: 15px;
}
.box3-para{
    font-size: 25px;
    margin:40px;
}
.adena-img{
    width:60px;
    height:60px;
    border-radius: 50px;
    margin-left:40px;
    margin-right: 30px;
    float: left;
}
.box4-h5{
    margin-left:60px;
    margin-top:100px;
    font-size: 20px;
}
.box4-h3 , .box5-h1{
    margin-left:60px;
    font-size: 40px;
}
.box4-p,.box5-p{
    margin-left:60px;
    font-size: 22px;
}
.facedivvy{
    width:1300px;
    height:200px;
    margin-top: 100px;
    margin-bottom: 50px;
}

#face-divvy {
    clear: left;
    width: 600px;
    margin-left: 330px;
    margin-top: 150px;
}

#face-divvy > h1 {
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 150px;
}

#face-divvy > p {
    font-size: 25px;
}

.small-image{
    margin-left: 320px;
    width:1300px;
    margin-top: 50px;
}
.image{
    width:190px;
    height:190px;
    border-radius: 20px;
    margin:10px;

}

#investors-div {
    width: 1300px;
    height: 200px;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: 320px;
}

#investors-div > h1 {
    font-size: 60px;
    margin: 0;
}

#investors-div > #investor-logo div {
    width: 500px;
    height: 100px;
    margin-left: 20px;
    margin-top: 20px;
}

#investors-div > #investor-logo div:nth-child(1) {
    margin-left: 0;
}

#investors-div > #investor-logo div > img {
    width: 100%;
}

.nav{
    margin-top: 2%;
    width: 75%;
    margin-left: 280px;
    height: 60%;
    font-size: 20px;
    padding-top: 10px;
    padding-right: 3%;
}

.nav > a {
    margin-right: 35px;
}

.login {
    margin-left: 32%;
    font-size: 30px;
    color: blue;
}
.main_button {
    height: 50px;
    width: 8%;
    font-size: 90%;  
    border-radius: 8%;
    background-color:#ffba08;
   
}

.logo {
    margin-left: 120px;
    float: left;
    margin-right: 50px;
    margin-top: 15px;
   
}

.black {
    color: black;
}

.flex-cont {
    display: flex;
}

#seventh-box {
    width: auto;
    height: 600px;
    background-color: darkslategray;
}

#seventh-box > img {
    margin-left: 300px;
    width: 150px;
    height: 150px;
    margin-top: 0;
    margin-bottom: 0;
}

#seventh-box > div {
    width: 80%;
    height: 320px;
    margin-left: 300px;
}

#seventh-box > div div {
    width: 15%;
    height: 320px;
    margin-left: 5%;
}

#seventh-box > div div:nth-child(1) {
    margin-left: 0%;
}

#seventh-box > .flex-cont > div p {
    padding: 0;
    font-size: 20px;
}

#seventh-box > .flex-cont > div > p {
    color: white;
    margin-top: 10px;
}

#seventh-box > .flex-cont > div > p:nth-child(1) {
    color: grey;
    margin-top: 0;
}

#seventh-box > .flex-cont > div:nth-child(4) > p {
    /* padding: 0; */
    margin: 2px;
}

#seventh-box > .flex-cont > div:nth-child(4) > p:nth-child(2) {
    margin-top: 10px;
}