.login{
    width:1200px;
    height: 600px;
    margin-left: 350px;
    
}
#img-both{
    margin:20px;
    clear: both;
}
.fill-login{
    width:500px;
    height: 600px;
    
    margin: auto;
    padding:10px;
  
    
}
.input{
    width:400px;
    height: 60px;
    border:none;
    border-radius: 10px;
    margin:auto;
    font-size: 20px;
}
.para{
    font-size: 20px;
    font-weight: bolder;
    padding-right: 80px;
}
#para-id{
    text-align: center;
}

#email-color{
    background-color: yellow;
    color: black;
    font-size: 25px;
}
#facebook{
    color: white;
    font-size: 20px;
    background-color: Royalblue;
}
#gmail{
    color: white;
    font-size: 20px;
    background-color: red;
}
.input1{
    width:400px;
    height: 50px;
    
    border-radius: 10px;
    margin:auto;
    font-size: 20px;
}
.logo-divvy{
    width:100%;
    margin-left: 350px;
    margin-top: 50px;
    
}
.h1-login{
    font-size: 40px;
}
