.nav {
    margin-top: 2%;
    width: 1000px;
    margin-left: 250px;
    height: 100px;
    font-size: 20px;
    padding-top: 10px;
    padding-right: 3%;
    
}

.nav > a {
    margin-right: 35px;
    font-size: 22px;
}

.nav > a:active {
    text-decoration: underline;
    text-decoration-color: gold;
}

.login {
    margin-left: 50px;
    font-size: 30px;
    color: blue;
}
.main_button {
    height: 50px;
    width: 100px;
    font-size: 90%;  
    border-radius: 8%;
    background-color:#ffba08;
   
}

.logo {
    margin-left: 120px;
    float: left;
    margin-right: 50px;
    margin-top: 15px;
   
}

.black {
    color: black;
    text-decoration: none;
}




#search-box>div:nth-child(1){
    width:675px;
    height:550px;
    
    background-color: orange;
    float: left;

}
#search-box>div:nth-child(2){
    width:650px;
    height:550px;
  
    background-color: whitesmoke;
    float: left;

}

.center{
    width:450px;
    height: 300px;
    
    margin:100px auto;
    
}
.middle-part{
    width:400px;
    height: 180px;
    border-radius: 20px;
    background-color: white;
    margin:auto;
    padding-top: 5px;
}
.middle-input{
    margin-left:30px;
    width:320px;
    height:50px;
    border-radius: 10px;
    font-size: 20px;
    
    
}
.middle-p{
    margin-left: 30px;
}
.middle-h1{
    margin-left: 30px;
    
}
.h1-center{
    text-align: center;
    font-size: 35px;
}
.center2{
    width:500px;
    height: 300px;
    
    margin:100px auto;
    
}
.h1-center2{
    text-align: center;
    font-size: 35px;
}
.h3-center2{
    margin-left:80px;
}
#city{
    width:400px;
    height:50px;
    margin-left:80px;
    font-size: 20px;
    border-radius: 10px;
    border:1px solid skyblue;
}
.box2-input{
    width:400px;
    height:50px;
    margin-left:80px;
    font-size: 20px;
    border-radius: 10px;
    border:none;
    background-color: orange;
    font-weight: bold;
}
  
.flex-cont {
    display: flex;
}

#seventh-box {
    width: auto;
    height: 650px;
    background-color: darkslategray;
    margin: 0;
    padding: 0;
}

#seventh-box > img {
    margin-left: 300px;
    width: 150px;
    height: 150px;
    margin-top: 0;
    margin-bottom: 0;
}

#seventh-box > div {
    width: 80%;
    height: 320px;
    margin-left: 300px;
    margin-top: 0;
}

#seventh-box > div div {
    width: 15%;
    height: 320px;
    margin-left: 5%;
}

#seventh-box > div div:nth-child(1) {
    margin-left: 0%;
}

#seventh-box > .flex-cont > div p {
    padding: 0;
    font-size: 20px;
}

#seventh-box > .flex-cont > div > p {
    color: white;
    margin-top: 10px;
}

#seventh-box > .flex-cont > div > p:nth-child(1) {
    color: grey;
    margin-top: 0;
}

#seventh-box > .flex-cont > div:nth-child(4) > p {
    /* padding: 0; */
    margin: 2px;
}

#seventh-box > .flex-cont > div:nth-child(4) > p:nth-child(2) {
    margin-top: 10px;
}